<div class="ui inverted segment" style="border-radius: 0px;">
    <div class="ui inverted secondary pointing menu">
        <div class="header item"><a href="/">Baca Buku</a></div>
        <a class="active item" href="/">
            Home
        </a>
        <a class="item" href="/author">
            Author
        </a>
        <a class="item" href="/author/new">
            Tambah Author
        </a>
    </div>
</div>