<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from about</title>
</head>
<body>
    <h1>About this app, it is gonna be crazy boys</h1>
</body>
</html>